<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            users: current_user
        ).html_safe %>
    </script>
<% end %>

<div id="root">
    Is broke!
</div>

