/* PHASE 1: Header */

body {
    font-family: "Roboto", sans-serif;
    font-size: 16; 
    font-weight: 400;
    background: #eee;
}

.header {
    background: #f00;
    color: #fff;
    border-bottom: 1px solid #ccc;
}


.nav-bar {
    height: 35px;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 700;
}

li {
    display: block;
}

.header-logo, li {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.nav-items {
    height: 100%;
    display: flex;
}

a {
    color: white;
}

.nav-items > li:hover,
.header-logo:hover {
    background: #000;
}

