/* PHASE 2: Notifications */

.badge {
    display: inline;
    background: #000;
    border-radius: 50%;
    padding: 1px 6px;
}

.notifications {
    border: 1px solid yellow;
    /* display: block; */
    position: relative;
    top: 50px;
    right: 50px;
    
}