<div class="main-content">

    <div class="left-column">
        <ul>
            <li class='title'>
                <a href="#">Launching the New React/Redux Curriculum</a>
            </li>
            <li class='byline'>By ERIC and RYAN</li>
            <li class='article_body'>
                <ul>
                 <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugiat cupiditate illum et optio. Modi, quos aperiam! At aspernatur illum similique incidunt saepe nihil, nostrum ipsam. Aliquam tempora ipsa itaque.</li>

                 <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugiat cupiditate illum et optio. Modi, quos aperiam! At aspernatur illum similique incidunt saepe nihil, nostrum ipsam. Aliquam tempora ipsa itaque.</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="middle-column">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aspernatur explicabo sapiente eum voluptas eos asperiores possimus non? Sequi quaerat necessitatibus impedit magni repellat dolorum quam hic consectetur possimus excepturi!</p>
    </div>

    <div class="right-column">
        <div class="inner-l-column">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aspernatur explicabo sapiente eum voluptas eos asperiores possimus non? Sequi quaerat necessitatibus impedit magni repellat dolorum quam hic consectetur possimus excepturi!</p>
        </div>
        <div class="inner-r-column">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aspernatur explicabo sapiente eum voluptas eos asperiores possimus non? Sequi quaerat necessitatibus impedit magni repellat dolorum quam hic consectetur possimus excepturi!</p>
        </div>
    </div>
</div>