<header class="masthead">
	<nav class="language-nav">
		<ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">JAVASCRIPT</a></li>
            <li><a href="#">RUBY</a></li>
		</ul>
	</nav>
	</nav>
    	<nav class="logo">
		<ul>
            <li>
                <img src="assets/AA_Times_Logo.png">
            </li>
			
		</ul>
	</nav>
	<nav>
		<ul class="masthead-links">
            <li>
                <button>Friday, September 11, 2020</button>
            </li>
            <li>
                <button>
                    <i class="far fa-newspaper"></i>
                    <a href="#">Today's Paper</a>
                </button>
            </li>
            <li>
                <button>
                    <i class="fas fa-video"></i>
                    <a href="#">Video</a>
                </button>
            </li>
            <li>
                <button>77° F</button>
            </li>
            <li>
                <button>APPL: <strong>+100%</strong></button>
            </li>
			
		</ul>
    </nav>
    
</header>