<nav class="sections-nav">
<ul>
    <li><button class="section_button"><a href="#">San Francisco</a></button></li>
    <li><button class="section_button"><a href="#">World</a></button></li>
    <li><button class="section_button"><a href="#">New York</a></button></li>
    <li><button class="section_button"><a href="#">Bootcamp Prep</a></button></li>
    <li><button class="section_button"><a href="#">Jump Start</a></button></li>
    <li><button class="section_button"><a href="#">Online</a></button></li>
    <li><button class="section_button"><a href="#">Marketing</a></button></li>
    <li><button class="section_button"><a href="#">Sales</a></button></li>
    <li><button class="section_button"><a href="#">Talent</a></button></li>
    <li><button class="section_button"><a href="#">Alumni</a></button></li>
    <li><button class="all_link_b"><a href="#" class="all_link">ALL</a></button></li>
</ul>
</nav>